* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 252, 192);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quiz-box {
  min-width: 100px;
  min-height: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 11px rgba(0, 153, 15, 0.1);
  text-align: center;
 
}
#answerBox{
  margin-top: 10%;
  height: 30px;
  width: 80%;
  border: 2px solid black;
}

.quiz-box:hover { 
  border-width: 19px;
  border-color: #06c106;
  
}

.question {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}


.option:hover {
 
  background-color: #24a42a;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.ansSubmitButn{
  
  margin-top: 25px;
  height: 25px;
  width:100px;
  text-align: center;
  
}
.ansSubmitButn:hover {
   background-color:  #66c16b;
}