* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(216, 252, 192);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .quiz-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }
  
  .question {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    background-color: #5fe464;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: #5fe464  0.4s ease-in-out;
  }
  
  .option:hover {
    border-radius: 10px;
    background-color: #24a42a;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  